<!-- shows menu icon for small screens -->
<a class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" (click)="toggleMenu()">
    <i class="fa fa-bars"></i>
</a>
    <!-- Sidebar on small screens when clicking the menu icon -->
<div id="mobileNav" class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide w3-hide-large w3-hide-medium">
    <a (click)="toggleMenu()" class="w3-bar-item w3-button w3-large w3-padding-16">Close</a>
    <a routerLink="/home" (click)="toggleMenu()" class="w3-bar-item w3-button">Home</a>
    <a routerLink="/about" (click)="toggleMenu()" class="w3-bar-item w3-button">About</a>
    <a routerLink="/portfolio" (click)="toggleMenu()" class="w3-bar-item w3-button">Portfolio</a>
    <a target="_" href="https://www.etsy.com/shop/LindsayMillerArtShop?ref=search_shop_redirect" (click)="toggleMenu()" class="w3-bar-item w3-button">Shop</a>
    <a routerLink="/contact" (click)="toggleMenu()" class="w3-bar-item w3-button">Contact</a>
</div>

<header class=" w3-center" style="padding:0px 16px; margin: 0px;">
    <img class="logo" src="../../assets/lm_logo_header.png"/>
    <div style="margin-top: 16px;">Lindsay Miller Art</div>

    <div class="w3-padding-32 w3-hide-small" *ngIf="!isAdminSite">
        <div class="w3-bar">
        <a routerLink="/home" class="w3-bar-item w3-button headerBtn">Home</a>
        <a routerLink="/about" class="w3-bar-item w3-button headerBtn">About</a>
        <a routerLink="/portfolio" class="w3-bar-item w3-button headerBtn">Portfolio</a>
        <a target="_" href="https://www.etsy.com/shop/LindsayMillerArtShop?ref=search_shop_redirect" class="w3-bar-item w3-button headerBtn">Shop</a>
        <a routerLink="/contact" class="w3-bar-item w3-button headerBtn">Contact</a>
        </div>
    </div>

    <div class="w3-padding-32 w3-hide-small" *ngIf="isAdminSite">
        <div class="w3-bar">
        <a routerLink="admin/dashboard" class="w3-bar-item w3-button headerBtn">Dashboard</a>
        <a routerLink="admin/upload" class="w3-bar-item w3-button headerBtn">Upload</a>
        <a routerLink="admin/manage" class="w3-bar-item w3-button headerBtn">Manage</a>
        <a *ngIf="authService.isLoggedIn" class="w3-bar-item w3-button headerBtn" (click)="authService.SignOut()">
            <i class="fas fa-sign-out-alt"></i>Log out
          </a>
        </div>
    </div>
</header>
