.logo{
    width: 150px;
}

.pageRef{
    padding: 8px 0px 0px 16px; 
    margin: 0px;
    font-weight: bold;
    color: red;
    font-size: xx-large;
}

.headerBtn{
    margin: 0px 8px;
    font-size: large;
}