<footer class="w3-container w3-padding-64 w3-center footer"> 
    <div>All images copyright Lindsay Miller.</div>
    <div>Images may not be used or reproduced without permission.</div>
    <a href="https://www.instagram.com/lindsaymillerart/" class="icon w3-hover-opacity"><img class="icon" src="../../assets/instagram_footer.png" alt=""></a>
    <a href="https://www.etsy.com/shop/LindsayMillerArtShop?ref=search_shop_redirect" class="icon w3-hover-opacity"><img class="icon" style="width: 50px;" src="../../assets/etsy_footer.png" alt=""></a>
</footer>
