<div style="text-align:left;">
    <label id="top" for="sortOptions" class="selectBoxLabel">Sort By:</label>
    <select name="sortOptions" id="sortOptions" #t (change)="sortChanged(t.value)" [(ngModel)]="selectedSortOption" class="box selectBox">
        <option value="date">Date Desc</option>
        <option value="dateAsc">Date Asc</option>
        <option value="title">Title</option>
    </select>
    <label for="filterOptions" class="selectBoxLabel">Filter By:</label>
    <select name="filterOptions" id="filterOptions" [(ngModel)]="selectedFilterOption" class="box selectBox" (change)="filterOptionChanged()">
        <option value=""></option>
        <option value="collection">Collection</option>
        <option value="medium">Medium</option>
    </select>
    <div style="display: inline;" *ngIf="selectedFilterOption !== '' && selectedFilterOption !== undefined && selectedFilterOption !== null">
        <label for="filterValue" class="selectBoxLabel">{{selectedFilterOption | titlecase}}</label>
        <select name="filterValue" id="filterValue" (change)="filerValueChanged()" [(ngModel)]="selectedFilterValue" class="selectBox">
            <option value=""></option>
            <ng-container *ngIf="selectedFilterOption === 'collection'" >
                <option *ngFor="let collection of collections" [ngValue]="collection.Name">{{collection.Name}}</option>
            </ng-container>
            <ng-container *ngIf="selectedFilterOption === 'medium'">
                <option *ngFor="let medium of mediums" [ngValue]="medium.Name">{{medium.Name}}</option>

            </ng-container>
        </select>
    </div>
</div>
<table class="table">
    <tbody>
        <tr *ngFor="let col of rowArray; index as i">
        <td *ngFor="let col of colArray; index as j" class="tableColumn">
            <div *ngIf="imageGrid[i][j] !== null && imageGrid[i][j] !== undefined">
                <img [src]="'/images/' + imageGrid[i][j].thumbnailImage" [alt]="imageGrid[i][j].title" style="width:100%; max-width: 387px;" class="w3-hover-opacity" (click)="showFullScreen(i, j)">
                <div class="w3-container w3-white">
                    <p><b>{{imageGrid[i][j].title}}</b></p>
                    <p style="height: 70px;">{{imageGrid[i][j].description}}</p>
                </div>
            </div>
        </td>
        </tr>
    </tbody>
</table>
<!-- <mat-paginator class="matExtras" [length]="imagesModified.length"
              [pageSize]="perPage"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = updatePage($event)">
</mat-paginator> -->
<p-paginator (onPageChange)="pageEvent = updatePage($event)" [rows]="perPage" [totalRecords]="imagesModified.length" [rowsPerPageOptions]="pageSizeOptions"></p-paginator>
<app-fullscreen-image-viewer [images]="imagesModified" [imageIndex]="imageIndex" [show]="showFullscreen" (close)="closeEventHandler()"></app-fullscreen-image-viewer>