<div class=" w3-center w3-padding-64 content">
    <table class="landingTable" [style.background-image]="'url(' + imagePath + ')'">
        <tr>
            <td colspan="1"> </td>
            <td rowspan="2">
                <div class="landingText">
                    <h2 class="tableHeaderSize">{{title}}</h2>
                    <p style="white-space: pre-line;" class="tableTextSize">{{message}}</p>
                    <!-- <p class="tableTextSize">
                        I'd love to have my art occupy your home and decorate your walls. If you're interested in a peice you don't see on the shop
                        or specific prints let me know and I'll help however I can. If you are looking for a custom peice I'd be more than happy
                        to talk about that as well!
                    </p>
                    <p class="tableTextSize">
                        Thanks for the support.
                    </p>
                    <p class="tableTextSize">
                        Love, Lindasy
                    </p> -->
                    <hr class="blue">
                </div>
            </td>
        </tr>
        <tr>

        </tr>
    </table>
</div>
