hr.blue {
    border: 5px solid #33bed0;
    border-radius: 5px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* Create 3 equal columns that sits next to each other */
  .column {
    width: 33%;
    padding: 16px;
  }

  .title{
      font-size: 24px;
      color: #33bed0;
      margin-bottom: 40px;
  }

  .icon{
      max-width: 150px;
      max-height: 150px;
  }

  @media screen and (max-width: 700px) {
    .column {
        width: 100%;
        padding: 16px;
      }
  }