/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #33bed0;
    padding: 32px;
  }

.description{
    color: white;
    font-size: 24px;
    padding: 16px 100px;
}

@media screen and (max-width: 800px) {
  .description{
    color: white;
    font-size: 24px;
    padding: 16px 10px;
}
}

@media screen and (max-width: 600px) {
  .description{
    color: white;
    font-size: 24px;
    padding: 16px 10px;
}
}