<app-feature-text title="WHO AM I" message="24 years old, I love the color yellow, sunshine and broccoli. You can find me sitting literally anywhere outside with food, coffee, and my music playing loud enough to block out any negativity. I'm here to share what brings me joy in hopes that it's a contagious flow of positivity and growth.
Love, Lindsay" imagePath = "../../assets/about_images/self_about.jpg"></app-feature-text>
<app-feature-titles></app-feature-titles>
<app-feature-images image1="../../assets/about_images/collage3.jpg" image2="../../assets/about_images/collage2_about.jpg" image3="../../assets/about_images/collage_about.jpg"></app-feature-images>
<div class="w3-center w3-padding-64">
    <div class="container">
        <div class="content description">
            I'm an empathetic person as much as I am an empathetic painter. With brush strokes, color layering and texture I resolve emotions, 
            thoughts and confusion in each canvas. Each piece of art is a metaphor for self-invention; where every decision and every mistake plays 
            a role in the completed piece. I want my work to inspire other, to ignite courage to break away from what's "normal", what's "clean" and "expected".
        </div>
    </div>
</div>
<app-feature-text title="Process" message="Often I favor incorporating collage into my work, involving other mediums such as ink, paper, and wire. But whichever medium I choose to work with/focus on I enjoy creating art with dream-like qualities. I always start big and work my way small, adding details where they feel right."
imagePath = "../../assets/about_images/process_about.jpg"></app-feature-text>
<div class="w3-center bottomImg">
    <img style="width: 100%;" src="../../assets/home_images/footer_home.jpg"/>
</div>