<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="show === true">
    <span class="close" (click)="closeClicked()">&times;</span>
    <div class="container">
        <div class="imgContainer">
            <img class="modal-content" [alt]="images[imageIndex].title" id="modalImage" [(src)]="'/images/' + images[imageIndex].image">
        </div>
        <div class="arrowContainer">
            <a class="prev" (click)="previousArrowClicked()">❮</a>
            <a class="next" (click)="nextArrowClicked()">❯</a>
        </div>
    </div>
  </div>
  