<app-feature-images image1="../../assets/home_images/pinklemonade_home.jpg" image2="../../assets/home_images/summerday_home.jpg" image3="../../assets/home_images/provoke_home.jpg"></app-feature-images>
<div class="w3-center w3-padding-64 content">
    <div class="row">
        <div class="column" style="text-align: left; padding-right: 64px;">
            <h3>Most Recent/ Current Series</h3>
            <p>
                During quarantine and this most recent pandemic, I have heard and seen the importance
                of small businesses. This series focuses on local small businesses around Pittsburgh. From the
                perspective of interiors/atmosphere – I want the viewer to feel as if they are truly there. And
                when they walk away from each painting, it will leave them with a memory as if they’ve been
                there. My intent is to provide a sense of familiarity, warmth, and comfortability- something
                corporations can’t offer. All in hopes to initiate customers to consider shopping small more often
                or supporting places they otherwise wouldn’t have thought of.
            </p>
        </div>
        <div class="column">
            <img src="../../assets/home_images/anchoranvil_home.jpg">
            <a [routerLink]="['/portfolio']" [queryParams]="{ collection:collectionName }" queryParamsHandling="merge">Click to view full series ></a>
        </div>
    </div>
</div>
<app-slideshow></app-slideshow>
<app-contact-form title="EMAIL SIGNUP OR CONTACT FORM"></app-contact-form>
<div class="w3-center bottomImg">
    <img style="width: 100%;" src="../../assets/home_images/footer_home.jpg"/>
</div>