<app-feature-text title="Contact" message="I'd love to have my art occupy your home and decorate your walls. If you're interested in a peice you don't see on the shop or specific prints let me know and I'll help however I can. If you are looking for a custom peice I'd be more than happy
to talk about that as well!
Love, Lindsay" imagePath = "../../assets/contact/image_contact.jpg"></app-feature-text>
<app-contact-form title="Let's Talk"></app-contact-form>
<app-contact-icons></app-contact-icons>